<div class="mt4 center" style="max-width: 500px;">
  <form name="{{ .Params.form.name | default "contact" }}" method="POST" netlify class="form form--custom">
  <input type="hidden" name="form-name" value="{{ .Params.form.name | default "contact" }}" />

  <fieldset class="fieldset">
    <legend class="legend f5 fw3 mb3 tc">{{ .Params.form.name | default "Contact Us" }}</legend>

    <ul class="form-fields list pa0">
      <li class="mb3">
        <label class="label f6 fw3 db mb2" for="contact-name">Name:<span class="red" title="Required">*</span></label>
        <input type="text" id="contact-name" name="name" class="text-input w-100 f6 pv2 ph3 border-box ba br2 b--white primary" required />
      </li>

      <li class="mb3">
        <label class="label f6 fw3 db mb2" for="contact-email">Email Address:<span class="red" title="Required">*</span></label>
        <input type="email" id="contact-email" name="email" class="text-input w-100 f6 pv2 ph3 border-box ba br2 b--white primary" required />
      </li>

      <li class="mb3">
        <label class="label f6 fw3 db mb2" for="contact-message">Message:<span class="red" title="Required">*</span></label>
        <textarea id="contact-message" name="message" rows="5" class="text-input w-100 f6 pv2 ph3 border-box ba br2 b--white primary" required></textarea>
      </li>

      <li class="tc mb3">
        <button type="submit" class="bg-primary white f6 link br2 ph3 pv2 no-underline ttu">
          <span>{{ .Params.form.submit_text | default "Send Message" }}</span>
        </button>
      </li>

      <li class="tc">
        <small class="f7 gray lh-copy">
          This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy" target="_blank" class="link">Privacy Policy</a> and
          <a href="https://policies.google.com/terms" target="_blank" class="link">Terms of Service</a> apply.
        </small>
      </li>
    </ul>
  </fieldset>
  </form>
</div>